<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-primary">
            <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Ítallo Modas - Chat-GPT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="/">Cadastrar</a>
                            <a class="nav-link" href="/consulta">Consultar</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <p class="text-start fs-5">Ítallo Modas.</p>
            <p class="text-start fs-6">Sistema Utilizado para cadastrar novos produtos.</p>
            <p>
            <div class="row">
                <div class="card mb-3 col-12">
                    <div class="card-body">
                        <table class="table table-responsive table-hover col-12" style="width: auto;">
                            <thead class="table-active secondary">
                                <tr style="color: white;">
                                    <th scope="col">Nome</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col" style="Align="center"" >Descrição</th>
                                    <th scope="col" style="Align="center"">Palavras-Chave</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each post}}
                                {{#dataValues}}
                                <tr style="color:wrgb(14, 14, 14);font: size 12px;">
                                    <td>{{nome}}</td>
                                    <td>{{marca}}</td>
                                    <td>{{modelo}}</td>
                                    <td>{{descricao}}</td>
                                    <td>{{palavras_chave}}</td>
                                </tr>
                                {{/dataValues}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </p>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>